<h4>
    <%= @event.name %> | <%=@event.location %>
</h4>

<div = "container" >
	<h4><%=link_to "Step One - Create Food list","#", :id => "food_slider" %></h4>
		<div id = "food_form">
  		<%= form_for @food do |f| %>
  			<%= f.text_field :name, :placeholder => "Food name" %>
  			<%= f.number_field :amount, :placeholder => "# needed" %>
  			<%= f.number_field :price, :placeholder => "$$" %>
        <%= f.submit %>
  		<% end %>
  		<%= link_to "Add another", "#" %>
  	</div>

  2.) Create Item List

  3.) Assign Duties

</div>

    <script>
      $('#food_slider').click(function() {
        $('#food_form').slideDown('slow');
        console.log('click slider');
      });
    </script>