<h4>
  The finer details
</h4>

<div = "container" >
	<h4>Step One - Create Food list</h4>
		<div id = "food_form">
  		<%= form_for @food do |f| %>
  			<%= f.text_field :name, :placeholder => "Food name" %>
  			<%= f.number_field :amount, :placeholder => "# needed" %>
  			<%= f.number_field :price, :placeholder => "$$" %>
  		<% end %>
  		<%= link_to "Add another", "#" %>
  	</div>

  2.) Create Item List

  3.) Assign Duties

</div>