<h4>
	Plan a great event in minutes!
</h4>

<div class="row">
	<div id = "form">
		<h1>Get Started</h1>
				<%= form_for @event do |e| %>
					<ol>
						
						<li><%= e.text_field :name ,:placeholder => "Event Name"%></li>
						<li><%= e.text_field :location ,:placeholder => "Where will be?"%></li>
						<li><%= e.date_select :date , :discard_year => true ,:use_short_month => true %></li>
						<li><%= e.number_field :time , :minute_step => 30, :placeholder => "What time will it start?" %></li>
						<% end %>	
						<div id	= "create-slider" >
							<%= link_to "Create Event" , "#", :id => "slider",:class => 'btn btn-large btn-info' %>
						</div>

						<div id	= "new-slider" >
							<li><%#= e.text_field :name, :placeholder => "What's your email?" %> <%#= e.submit "Go!", :class => 'btn btn-large btn-info'%></li>
							<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
							  <%= devise_error_messages! %>
							  <div>
							  	<%= f.email_field :email , :placeholder => "you_email@email.com"%>
								</div>
							  <div><%= f.submit "Sign up & Create Event", :class => 'btn btn-large btn-info' %></div>
							<% end %>
					</ol>
				
		</div>

		<script>
			$('#slider').click(function() {
				$('#new-slider').slideDown('slow');
				$('#create-slider').slideUp('slow');
				console.log('click slider');
			});
		</script>
</div>





