<h4>
	Plan a great event in minutes!
</h4>

<div class="row">
	<div id = "form">
		<h1>Get Started</h1>
				<%= form_for @event do |e| %>
					<ol>
						<li><%= e.text_field :name ,:placeholder => "Event Name"%></li>
						<li><%= e.text_field :location ,:placeholder => "Where will be?"%></li>
						<li><%= e.date_select :date , :discard_year => true ,:use_short_month => true %></li>
						<li><%= e.number_field :time , :minute_step => 30, :placeholder => "What time will it start?" %></li>
						<li><%= e.submit "Create Event", :class => 'btn btn-large btn-info'%></li>
					</ol>
				<% end %>			
</div>
